/* CSS Resets */
* {
    box-sizing: border-box;
}

h1, h2 {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: black;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: #0245AD;
    color: white;
    transition: all 2s;
}

body.switch {
    background-color: white;
    color: black;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    border: 2px white solid;
    border-radius: 5px;
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    content: url("images/Banner_2.png");
    border-color: black;
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    background-color: white;
    border-radius: 5px;
    flex: 1;
    border: 2px white solid;
    margin: 0 .25em;
    padding: 1em;
}

section.switch {
    background-color: #001C47;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #0245AD;
}

section a:hover {
    border-radius: 2px;
    background-color: #0245AD;
    color: white;
}

section.switch a {
    color: white;
}

section.switch a:hover {
    background-color: white;
    color: #001C47;
}

section.switch h3 {
    color: white;
}

button {
    border-radius: 4px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: white;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: #0245AD;
    border-color: white;
    color: white;
    cursor: pointer;
}

button.switch {
    background-color: white;
    border-color: #001C47;
}

button.switch:hover {
    background-color: #001C47;
    color: white;
}