body {
    background-color: #303030;
    color: white;
    padding: 0;
    margin: 0;
}

header {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 250px 200px 500px 200px;
}

header h2 { 
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    text-align: center;
}

.button {
    background-color: #303030; 
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    text-align: center;
    border-radius: 12px;
}

.arrow-down {
    font-size: 40px;
    margin-top: 10px;
}

.button:hover {
    background-color: white;
    color: #303030;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content {
    height: 8000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.graph-section, .pie-section {
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-graph {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; 
}

/* #myChart {
    opacity: 0;
} */

.hidden {
    opacity:0;
}

.cards {
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;
    width: 80%;
    font-size: 24px;
    margin: 300px 40px;
    padding: 0px 25px;
    border: 1px solid #e3e3e3;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #303030;
}
